name: Build and Release JAR

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to create the release and upload assets

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'liberica'
          cache: 'maven' # Change to 'gradle' if using Gradle

      - name: Build with Gradle
        run: ./gradlew shadowJar

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          # This finds the .jar in the target folder
          files: build/libs/*.jar
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
